certifi >= 14.05.14
six >= 1.10
python_dateutil >= 2.5.3
setuptools >= 21.0.0
urllib3 >= 1.15.1
pandas >= 1.0.1
sqlparse >= 0.3.1
cachetools >= 4.1
omegaconf >= 2.1
psycopg2 >= 2.8.6
pytest >= 6.2.4
pyspark >= 3.3.0
suffix-tree >= 0.0.7
sqlparse >= 0.4.2
boto3 >= 1.26.29
requests >= 2.22.0

